<form (submit)="submit()" #form="ngForm">
  <mat-dialog-content>
    <h1 mat-dialog-title>Add new customer</h1>
    <div fxLayout="column" fxLayout.gt-md="row">
      <mat-form-field>
        <input matInput placeholder="First Name" name="firstName" required [(ngModel)]="customer.name.first">
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input matInput placeholder="Last Name" name="lastName" required [(ngModel)]="customer.name.last">
      </mat-form-field>
    </div>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of birth" required
             name="birthday" [(ngModel)]="customer.birthday">
      <mat-datepicker-toggle matSuffix [for]=" picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="gender" [(ngModel)]="customer.gender" required placeholder="Gender">
        <mat-option value="f">Female</mat-option>
        <mat-option value="m">Male</mat-option>
        <mat-option value="o">Other</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Customer Lifetime Value" type="number" required
             name="clv" [(ngModel)]="customer.customerLifetimeValue">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit" color="primary">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
