@import '~@angular/material/theming';
@import '../../../scss/mixins/media';

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  @include media-xs {
    margin-top: 0;
  }
}

mat-form-field {
  width: 100%;
}
