<form (submit)="save()">
  <mat-card class="container">
    <mat-card-content>

      <mat-form-field>
        <input matInput placeholder="Customer ID" disabled [value]="customer.customerID">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Contact" disabled [value]="customer.lastContact | date">
      </mat-form-field>

      <div fxLayout="column" fxLayout.gt-md="row">
        <mat-form-field>
          <input matInput placeholder="First Name" name="firstName" [(ngModel)]="customer.name.first">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="Last Name" name="lastName" [(ngModel)]="customer.name.last">
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of birth"
               name="birthday" [(ngModel)]="customer.birthday">
        <mat-datepicker-toggle matSuffix [for]=" picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select name="gender" [(ngModel)]="customer.gender" placeholder="Gender">
          <mat-option value="f">Female</mat-option>
          <mat-option value="m">Male</mat-option>
          <mat-option value="o">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Customer Lifetime Value" type="number" required
               name="clv" [(ngModel)]="customer.customerLifetimeValue">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" color="primary">Save</button>
      <a routerLink=".." mat-button>Cancel</a>
    </mat-card-actions>
  </mat-card>

</form>
