@import '~@angular/material/theming';
@import '../../../scss/mixins/media';

.add-btn {
  position: fixed;
  right: 35px;
  top: 35px;
  z-index: 2;
  @include media-xs{
    top: unset;
    bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    padding: 10px;
  }

  mat-card.mat-card {
    box-shadow: none;
    margin: 0;
  }
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .mat-table .mat-row {
    display: block;
    margin-bottom: 15px;
    padding: 20px;
    @include mat-elevation(1);
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    min-height: 30px;
    margin-bottom: 2%;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
  mat-cell,
  mat-footer-cell,
  mat-header-cell {
    &:first-of-type, &:last-of-type {
      padding-left: 0;
      padding-right: 0;
    }
  }
  mat-footer-row, mat-header-row, mat-row {
    &::after {
      content: none;
    }
  }
}
