<div class="mat-elevation-z1 container">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Customer ID </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="CustomerID"> {{row.customerID}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First name </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="First Name"> {{row.name.first}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last name </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Last Name"> {{row.name.last}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date of birth</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Date of birth"> {{row.birthday | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Gender"> {{row.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastContact">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last contact</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Last Contact"> {{row.lastContact | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="clv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CLV</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="CLV"> {{row.customerLifetimeValue | number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="CLV">
        <a [routerLink]="[row.customerID]" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </a>
        &nbsp;
        <button mat-icon-button color="warn" (click)="remove(row)" class="remove-button">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div>
<a mat-fab class="add-btn" (click)="openNewCustomerDialog()">
  <mat-icon>add</mat-icon>
</a>
